<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
    <style>

        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/jquery-ui.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="../static/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="../static/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="../static/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="../static/css/aos.css">
    <link rel="stylesheet" href="{% static "../static/css/order.css" %}">
    <link rel="stylesheet" href="{% static "../static/css/style.css" %}">


</head>

<body>

{#<form action="" method="post" class="p-5 bg-white">#}
{#    {% csrf_token %}#}
{#    <input type="text" name="parth">#}
{#    <input type="submit" value="submit">#}
{#</form>#}
{#<h1>Product {{ product.productname }}</h1>#}
{#<h1>Price {{ product.productprice }}</h1>#}
<style>
    input[type=text] {
        background: transparent;
        border: none;
        border-bottom: 1px solid #000000;
    }

    input[type=email] {
        background: transparent;
        border: none;
        border-bottom: 1px solid #000000;
    }

    input[type=number] {
        background: transparent;
        border: none;
        border-bottom: 1px solid #000000;
    }

    input[type=date] {
        background: transparent;
        border: none;
        border-bottom: 1px solid #000000;
    }
</style>
<div class="site-section bg-light " id="contact-section">
    {#    <div class="container">#}
    {#        <div class="row mb-5">#}
    {#            <div class="col-12 text-center">#}
    {#                <h3 class="section-sub-title"></h3>#}
    {#                <h2 class="section-title mb-3">Get In Touch</h2>#}
    {#            </div>#}
    {#        </div>#}
    <div class="row justify-content-center">
        <div class="col-md-7 mb-5">


            <form action="{% url 'index' %}" method="post" enctype="multipart/form-data" class="p-5 bg-white">
                {% csrf_token %}

                <h2 class="h1 text-black mb-lg-5">OIL AND NATURAL GAS COOPERATION LTD.</h2>

                <div class="row form-group">
                    <div class="col-md-12">
                        <label autofocus="autofocus" class="text-black" for="">Name</label>
                        <input type="text" id="name" name="name" class="form-control rounded-00"required>
                    </div>
                </div>

                <div class="row form-group">

                    <div class="col-md-6 mb-3 mb-md-0">
                        <label class="text-black" for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control rounded-0"required>
                    </div>

                    <div class="col-md-6">
                        <label class="text-black" for="contno">Contact Number</label>
                        <input type="text" id="contno" name="contno" pattern=".{10,}"
                               title="10 digit minimum" class="form-control rounded-0"required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label class="text-black" for="bodytype">Gender</label>
                        {#                        <input type="radio" name="gender" formmethod="post" value="male"> Male#}
                        {#                        <input type="radio" name="gend" formmethod="post" value="female" > Female<br>#}
                        <input type="radio" name="gender" value="male"required> Male
                        <input type="radio" name="gender" value="female"required> Female
                    </div>
                    {#                    <div class="col-md-6">#}
                    {#                        <label class=" text-black" for="branch">Branch</label>#}
                    {#                        <!--<input type="text" id="country" name="country" class="form-control rounded-0">-->#}
                    {#                        <select class="form-control rounded-10">#}
                    {#                            <option selected>-none-</option>#}
                    {#                            {% for i in dictionary %}#}
                    {#                                <option value="{{ i }}">{{ i }} </option>#}
                    {#                            {% endfor %}#}
                    {#                        </select>#}
                    {#                    </div>#}
                    <div class="col-md-6">
                        <label class="text-black" for="category">Category</label>
                        <!--<input type="text" id="country" name="country" class="form-control rounded-0" >-->
                        <select name="cate" class="form-control rounded-10"required>
                            <option selected></option>
                            {% for j in dictionary1 %}
                                <option value="{{ j }}">{{ j }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <label class="text-black" for="fname">Father's name</label>
                        <input type="text" id="fname" name="fname" class="form-control rounded-0"required>
                    </div>

                    <div class="col-md-6">
                        <label class="text-black" for="foccu">Father's Occupation</label>
                        <input type="text" id="foccu" name="foccu" class="form-control rounded-0"required>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12">
                        <label class="text-black" for="">Date of Birth</label>
                        <input type="date" name="bday" class="form-control rounded-0"required>
                    </div>
                </div>
                <div class="row form-group">
                    {#                    <div class="col-md-12">#}
                    {#                        <label class="text-black" for="bodytype">Gender</label>#}
                    {#                        <input type="radio" name="gender" formmethod="post" value="male"> Male#}
                    {#                        <input type="radio" name="gend" formmethod="post" value="female" > Female<br>#}
                    {#                        <input type="radio" name="gender" value="male"> Male#}
                    {#                        <input type="radio" name="gender" value="female"> Female#}
                    {#                    </div>#}
                </div>
                <h1 class="h1 text-black ">
                    <small>If Employee of ONGC:-</small>
                <input onclick="document.getElementById('desig').disabled = false; document.getElementById('phno').disabled = false;document.getElementById('mono').disabled = false;document.getElementById('section').disabled = false;document.getElementById('loca').disabled = false;document.getElementById('cpf').disabled = false;"
                       type="radio" name="ifemployee" value="Yes" checked="checked"><small>Yes</small>

                <input onclick="document.getElementById('desig').disabled = true;document.getElementById('phno').disabled = true;document.getElementById('mono').disabled = true;document.getElementById('section').disabled = true;document.getElementById('loca').disabled = true;document.getElementById('cpf').disabled = true;"
                        type="radio" name="ifemployee" value="No"><small>No</small>

                </h1>
                <div class="row form-group">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <label class="text-black" for="desig">Designation</label>
                        <input type="text" id="desig" name="desig" class="form-control rounded-0"required>
                    </div>

                    <div class="col-md-6">
                        <label class="text-black" for="cpf">CPF</label>
                        <input type="number" id="cpf" name="cpf" class="form-control rounded-0"required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <label class="text-black" for="section">Section</label>
                        <input type="text" id="section" name="section" class="form-control rounded-0"required>
                    </div>

                    <div class="col-md-6">
                        <label class="text-black" for="loca">Location</label>
                        <input type="text" id="loca" name="loca" class="form-control rounded-0"required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <label class="text-black" for="phno">PhoneNo</label>
                        <input type="number" id="phno" name="phno" class="form-control rounded-0"required>
                    </div>

                    <div class="col-md-6">
                        <label class="text-black" for="mono">MobileNo</label>
                        <input type="number" id="mono" name="mono" class="form-control rounded-0"required>
                    </div>
                </div>

                <h1 class="h1 text-black ">
                    <small>Academic Details</small>
                </h1>


                <div class="row form-group">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <label class="text-black" for="insname">Institue's name</label>
                        <input type="text" id="insname" name="insname" class="form-control rounded-0"required>
                    </div>
                    <div class="col-md-6">
                        <label class="text-black" for="sem">Semester/Year</label>
                        <input type="number" id="sem" name="sem" class="form-control rounded-0"required>
                    </div>
                </div>
                {#                <div class="col-md-6">#}
                <label class=" text-black" for="branch">Branch</label>
                <!--<input type="text" id="country" name="country" class="form-control rounded-0">-->
                <select name="brname" class="form-control rounded-10"required>
                    <option selected></option>
                    {% for i in dictionary %}
                        <option value="{{ i }}">{{ i }} </option>
                    {% endfor %}
                </select><br>
                {#                </div>#}
                <div class="row form-group">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <label class="text-black" for="semmarks">Last sem %</label>
                        <input type="number" id="semmarks" name="semmarks" class="form-control rounded-0"required>
                    </div>
                    <div class=''><br>
                        <label for='photo'></label>
                        <input type="file" name='image1' id='newupload1' required/><br/>
                        <span id='contactus_newupload_errorloc' class='error'></span>
                    </div>

                    <div class="col-md-6">
                        <label class="text-black" for="twelv">Twelvth%</label>
                        <input type="number" id="twelv" name="twelv" class="form-control rounded-0"required>
                    </div>
                    <div class=''><br>
                        <label for='photo'></label>
                        <input type="file" name='image2' id='newupload' required/><br/>
                        <span id='contactus_newupload_errorloc' class='error'></span>
                    </div>

                </div>
                {#                <div class="row form-group">#}
                {#                    <div class="col-md-6 mb-3 mb-md-0">#}
                {#                        <label class="text-black" for="fathername">last sem %</label>#}
                {#                        <input type="number" id="fatname" name="semmarks" class="form-control rounded-0">#}
                {#                    </div>#}
                {#                    <div class='container'>#}
                {#                        <label for='photo'></label><br/>#}
                {#                        <input type="file" name='semupload' id='newupload'/><br/>#}
                {#                        <span id='contactus_newupload_errorloc' class='error'></span>#}
                {#                    </div>#}
                {##}
                {#                    <div class="col-md-6">#}
                {#                        <label class="text-black" for="fatoccu">Twelevth %</label>#}
                {#                        <input type="number" id="fatoccu" name="twelv" class="form-control rounded-0">#}
                {#                    </div>#}
                {#                    <div class='container'>#}
                {#                        <label for='photo'></label><br/>#}
                {#                        <input type="file" name='newupload' id='newupload'/><br/>#}
                {#                        <span id='contactus_newupload_errorloc' class='error'></span>#}
                {#                    </div>#}
                {#                </div>#}
                <div class="row form-group">
                    <div class="col-md-12">
                        <label class="text-black" for="address">Address (with Zip Code)</label>
                        <textarea name="address" id="address" cols="30" rows="7"
                                  class="form-control rounded-0"
                                  placeholder="Enter your complete address with landmark"required></textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <p>I
                            <input type="text" value=""/>
                            son of
                            <input value="" type="text"/>
                            request nodal agency for granting me the permission to undertake student's training in
                            ONGC,of similar type,before.<br><br></p>
                        <div class="row form-group">

                            <div class="col-md-6 mb-3 mb-md-0">
                                <label class="">Date</label>
                            </div>

                            <div class="col-md-6">
                                <label class="">Signature of Applicant</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3 mb-md-0">
                        <div>I shall be responsible for the applicant's conduct and discipline during the student's
                            training at ONGC.

                        </div>

                        <div class="container">
                            <div class="rounded-bottom" align="right"><br><br></br>Guardian/Parent signature</div>
                        </div>
                    </div>

                </div>
                <div class="row form-group">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <label class="text-black" for="menname">Mentor's name</label>
                        <input type="text" id="menname" name="menname" class="form-control rounded-0">
                    </div>

                    <div class="col-md-6">
                        <label class="text-black" for="des">Designation</label>
                        <input type="text" id="des" name="des" class="form-control rounded-0">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <label class="text-black" for="site">Section/Site</label>
                        <input type="text" id="site" name="site" class="form-control rounded-0">
                    </div>

                    <div class="col-md-6">
                        <label class="text-black" for="loc">Location</label>
                        <input type="text" id="loc" name="loc" class="form-control rounded-0">
                    </div>
                </div>
                <div class="row form-group">

                    <div class="col-md-6 mb-3 mb-md-0">
                        <label class=""><br></br>Date:</label>
                    </div>

                    <div class="col-md-6">
                        <label class=""><br><br>Signature of Training Coordinator</label>
                    </div>
                </div>
                <div id="load" style="display: none" class="loader"></div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <button data-js="open" input type="submit" value="submit"
                                class="btn btn-black rounded-0 py-3 px-4" type=button>Confirm
                        </button>


                        <div class="popup">
                            <h2 id="pc">Product Cost</h2>
                            <h2 id="dc">Delivery Cost</h2>
                            <h2 id="tc">Total Cost</h2>

                            <button name="close" class="btn btn-black rounded-0 py-3 px-4" type="button">Close
                            </button>
                            <input type="submit" value="Place Order" class="btn btn-black rounded-0 py-3 px-4">
                        </div>


                    </div>
                </div>


            </form>
        </div>

    </div>

</div>
</div>


<script src="{% static "../static/js/jquery-3.3.1.min.js" %}"></script>
<script src="{% static "../static/js/jquery-migrate-3.0.1.min.js" %}"></script>
<script src="{% static "../static/js/jquery-ui.js" %}"></script>
<script src="{% static "../static/js/popper.min.js" %}"></script>
<script src="{% static "../static/js/bootstrap.min.js" %}"></script>
<script src="{% static "../static/js/owl.carousel.min.js" %}"></script>
<script src="{% static "../static/js/jquery.stellar.min.js" %}"></script>
<script src="{% static "../static/js/jquery.countdown.min.js" %}"></script>
<script src="{% static "../static/js/bootstrap-datepicker.min.js" %}"></script>
<script src="{% static "../static/js/jquery.easing.1.3.js" %}"></script>
<script src="{% static "../static/js/aos.js" %}"></script>
<script src="{% static "../static/js/jquery.fancybox.min.js" %}"></script>
<script src="{% static "../static/js/jquery.sticky.js" %}"></script>


<script src="{% static "../static/js/main.js" %}"></script>
</body>
</html>